body {
    height: 100vh;
	  width: 100%;
    background: white; /* fallback for old browsers */
    background: linear-gradient(to right,#f8ecc2, #f8f9fa);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: rgb(27, 7, 7);
    font-family: 'Courier New', Courier, monospace;
}

.form * {
    /*display: grid;
    margin-right: 0 auto;*/
    text-align: center;
    align-items: center;
}

input {
    align-items: center;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Courier New', Courier, monospace;
    color: #333;
    font-size: 1.2rem;
    margin: 1 auto;
    padding: 1.5rem 2rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 90%;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
    width: 75%;
    margin: 1em;
    max-width: 100%;
  }

  a {
    font-family: 'Courier New', Courier, monospace;
  }

  input[type="submit"] {
    /*width: 50%;*/
  }

  input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-4rem);
    transform: translateY(-4rem);
  }


  button {
    -webkit-appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark-color(buttontext, rgb(170, 170, 170));
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark-color(rgb(239, 239, 239), rgb(74, 74, 74));
    box-sizing: border-box;
    margin: 0em;
    /*font: 400 13.3333px Arial;*/
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark-color(rgb(118, 118, 118), rgb(195, 195, 195));
    border-image: initial;
}  

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
}

*, ::after, ::before {
  box-sizing: border-box;
}

.btn-group-sm {
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem;
}

.btn-group>.btn-group:not(:first-child), .btn-group>.btn:not(:first-child) {
  margin-left: -1px;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

th, tr, td {
  border-radius: 1px;
  padding: 2px 3px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
  border: 2px;
  align-items: center;
}

th {
  background-color: #95A5A6;
  font-size: 12px;
  letter-spacing: 0.03em;
}

tr {
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
}