<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='css/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/traversy.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <script src="https://kit.fontawesome.com/280d91c3cc.js" crossorigin="anonymous"></script>
    {% block head %}{% endblock %}

</head>
<body>
    {% block body %}{% endblock %}
    <footer id="footer">
        <div class="footer-content">
            <div class="flair"><a href="https://stackexchange.com/users/12016659/mate-mr%c5%a1e"><img src="https://stackexchange.com/users/flair/12016659.png" width="208" height="58" alt="profile for Mate Mrše on Stack Exchange, a network of free, community-driven Q&amp;A sites" title="profile for Mate Mrše on Stack Exchange, a network of free, community-driven Q&amp;A sites" /></a></div>
            <div class="flair"><script src="https://tryhackme.com/badge/207770"></script></div>
            <div class="contact">
                <a href="https://github.com/senf-f/biljeske-flask"><i class="fab fa-github-square fa-3x"></i></a>
                <a href="https://github.com/senf-f/biljeske-flask-bdd"><i class="fab fa-github fa-3x"></i></a>
                <a href="https://www.linkedin.com/in/mate-mrse/"><i class="fab fa-linkedin fa-3x"></i></a>
                <a href="mailto:mate.mrse@gmail.com"><i class="fas fa-envelope fa-3x"></i></a>
            </div>
        </div>
    </footer>
</body>
</html>